.Home{
    width: 100vw;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 40px 60px;
}
.leftHome{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 10px;
}
.leftHome .been{
    font-size: 12px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 35px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    background: rgba(192, 192, 192, 0.318);
    border: 0.1px solid rgba(0,0,0,0.01);
    color: rgba(0,0,0,0.6);
    width: min-content;
}
.leftHome h1{
    font-size: 3.5rem;
    font-weight: 800;
}
.leftHome .Button{
    width: min-content;
    white-space: nowrap;
    background: linear-gradient(50deg, #088395, #0A4D68);
    color: #fff;
    padding: 10px 20px;
}
.rightHome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.rightHome > img{
    mix-blend-mode: darken;
    animation: UpDownMove 5s ease-in-out infinite;
}

@keyframes UpDownMove{
    50%{
        transform: translateY(-20px);
    }
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.background span {
    width: 1vmin;
    height: 1vmin;
    border-radius: 1vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 50;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #FFACAC;
    top: 38%;
    left: 52%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -14vw -15vh;
    box-shadow: 2vmin 0 0.8764562273102672vmin currentColor;
}
.background span:nth-child(1) {
    color: #E45A84;
    top: 57%;
    left: 55%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 20vw 24vh;
    box-shadow: -2vmin 0 0.5239515723620254vmin currentColor;
}
.background span:nth-child(2) {
    color: #E45A84;
    top: 3%;
    left: 18%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -10vw -21vh;
    box-shadow: 2vmin 0 1.1519569882780942vmin currentColor;
}
.background span:nth-child(3) {
    color: #E45A84;
    top: 77%;
    left: 15%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 15vw 7vh;
    box-shadow: 2vmin 0 1.2189714402288676vmin currentColor;
}
.background span:nth-child(4) {
    color: #E45A84;
    top: 40%;
    left: 50%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 21vw 18vh;
    box-shadow: -2vmin 0 0.500464015292921vmin currentColor;
}
.background span:nth-child(5) {
    color: #FFACAC;
    top: 29%;
    left: 5%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 19vw 23vh;
    box-shadow: -2vmin 0 0.9597038745150335vmin currentColor;
}
.background span:nth-child(6) {
    color: #583C87;
    top: 43%;
    left: 42%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 2vw -3vh;
    box-shadow: -2vmin 0 0.7570877593194856vmin currentColor;
}
.background span:nth-child(7) {
    color: #E45A84;
    top: 12%;
    left: 25%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 12vw -20vh;
    box-shadow: -2vmin 0 0.7359628524394966vmin currentColor;
}
.background span:nth-child(8) {
    color: #583C87;
    top: 92%;
    left: 40%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -15vw -6vh;
    box-shadow: -2vmin 0 1.1155265206211682vmin currentColor;
}
.background span:nth-child(9) {
    color: #583C87;
    top: 69%;
    left: 27%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 2vw 20vh;
    box-shadow: -2vmin 0 0.7717727934446026vmin currentColor;
}
.background span:nth-child(10) {
    color: #FFACAC;
    top: 17%;
    left: 3%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -19vw 24vh;
    box-shadow: 2vmin 0 0.9287232472919449vmin currentColor;
}
.background span:nth-child(11) {
    color: #583C87;
    top: 77%;
    left: 60%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 4vw 11vh;
    box-shadow: -2vmin 0 1.0103989709835812vmin currentColor;
}
.background span:nth-child(12) {
    color: #FFACAC;
    top: 29%;
    left: 74%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -19vw -6vh;
    box-shadow: 2vmin 0 0.9704054310901884vmin currentColor;
}
.background span:nth-child(13) {
    color: #583C87;
    top: 72%;
    left: 36%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 23vw -1vh;
    box-shadow: 2vmin 0 1.1130022253521477vmin currentColor;
}
.background span:nth-child(14) {
    color: #E45A84;
    top: 36%;
    left: 94%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -12vw 5vh;
    box-shadow: -2vmin 0 0.8220598963945212vmin currentColor;
}
.background span:nth-child(15) {
    color: #FFACAC;
    top: 15%;
    left: 88%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 21vw -5vh;
    box-shadow: 2vmin 0 1.207189260812073vmin currentColor;
}
.background span:nth-child(16) {
    color: #583C87;
    top: 86%;
    left: 33%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -9vw -7vh;
    box-shadow: -2vmin 0 0.6991817228245281vmin currentColor;
}
.background span:nth-child(17) {
    color: #583C87;
    top: 94%;
    left: 11%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 16vw 1vh;
    box-shadow: 2vmin 0 1.1147474725453888vmin currentColor;
}
.background span:nth-child(18) {
    color: #583C87;
    top: 90%;
    left: 62%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -7vw 3vh;
    box-shadow: 2vmin 0 0.5052961802961731vmin currentColor;
}
.background span:nth-child(19) {
    color: #583C87;
    top: 53%;
    left: 4%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 19vw 0vh;
    box-shadow: 2vmin 0 0.474975901732273vmin currentColor;
}
.background span:nth-child(20) {
    color: #E45A84;
    top: 62%;
    left: 16%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 15vw -19vh;
    box-shadow: 2vmin 0 0.7307118975812925vmin currentColor;
}
.background span:nth-child(21) {
    color: #E45A84;
    top: 49%;
    left: 97%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -3vw 18vh;
    box-shadow: 2vmin 0 1.100103667092478vmin currentColor;
}
.background span:nth-child(22) {
    color: #583C87;
    top: 18%;
    left: 96%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -24vw 19vh;
    box-shadow: 2vmin 0 0.41066024258370204vmin currentColor;
}
.background span:nth-child(23) {
    color: #FFACAC;
    top: 7%;
    left: 25%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 1vw -3vh;
    box-shadow: 2vmin 0 0.567046731379901vmin currentColor;
}
.background span:nth-child(24) {
    color: #583C87;
    top: 9%;
    left: 5%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -14vw 2vh;
    box-shadow: 2vmin 0 1.2292527299051819vmin currentColor;
}
.background span:nth-child(25) {
    color: #E45A84;
    top: 19%;
    left: 79%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -21vw -7vh;
    box-shadow: 2vmin 0 0.27508190856575254vmin currentColor;
}
.background span:nth-child(26) {
    color: #583C87;
    top: 84%;
    left: 8%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 12vw -3vh;
    box-shadow: -2vmin 0 0.25550625342259825vmin currentColor;
}
.background span:nth-child(27) {
    color: #E45A84;
    top: 26%;
    left: 91%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 15vw -2vh;
    box-shadow: 2vmin 0 0.8801982510627324vmin currentColor;
}
.background span:nth-child(28) {
    color: #E45A84;
    top: 88%;
    left: 83%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 12vw 17vh;
    box-shadow: -2vmin 0 1.101664506567926vmin currentColor;
}
.background span:nth-child(29) {
    color: #583C87;
    top: 30%;
    left: 27%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 1vw 10vh;
    box-shadow: 2vmin 0 0.8831624460727392vmin currentColor;
}
.background span:nth-child(30) {
    color: #583C87;
    top: 52%;
    left: 19%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 9vw 18vh;
    box-shadow: -2vmin 0 0.4727168435070206vmin currentColor;
}
.background span:nth-child(31) {
    color: #583C87;
    top: 65%;
    left: 42%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 12vw -22vh;
    box-shadow: 2vmin 0 0.6414509791361509vmin currentColor;
}
.background span:nth-child(32) {
    color: #E45A84;
    top: 73%;
    left: 51%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 0vw 16vh;
    box-shadow: 2vmin 0 0.9785430534840371vmin currentColor;
}
.background span:nth-child(33) {
    color: #FFACAC;
    top: 57%;
    left: 24%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -11vw 12vh;
    box-shadow: -2vmin 0 0.4024116820942212vmin currentColor;
}
.background span:nth-child(34) {
    color: #E45A84;
    top: 43%;
    left: 66%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -1vw -4vh;
    box-shadow: -2vmin 0 0.38258627056404504vmin currentColor;
}
.background span:nth-child(35) {
    color: #583C87;
    top: 19%;
    left: 29%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -3vw -14vh;
    box-shadow: 2vmin 0 0.3001447042982117vmin currentColor;
}
.background span:nth-child(36) {
    color: #FFACAC;
    top: 89%;
    left: 93%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 14vw -5vh;
    box-shadow: -2vmin 0 0.7409282759063831vmin currentColor;
}
.background span:nth-child(37) {
    color: #583C87;
    top: 32%;
    left: 2%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 8vw 10vh;
    box-shadow: 2vmin 0 1.0445495556098512vmin currentColor;
}
.background span:nth-child(38) {
    color: #583C87;
    top: 20%;
    left: 38%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -22vw 12vh;
    box-shadow: 2vmin 0 1.0272243578091487vmin currentColor;
}
.background span:nth-child(39) {
    color: #583C87;
    top: 65%;
    left: 95%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 4vw -13vh;
    box-shadow: 2vmin 0 1.0846374620491959vmin currentColor;
}
.background span:nth-child(40) {
    color: #E45A84;
    top: 80%;
    left: 44%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -9vw -8vh;
    box-shadow: 2vmin 0 1.1347537034721336vmin currentColor;
}
.background span:nth-child(41) {
    color: #E45A84;
    top: 85%;
    left: 88%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 22vw -18vh;
    box-shadow: 2vmin 0 0.5639544266254779vmin currentColor;
}
.background span:nth-child(42) {
    color: #FFACAC;
    top: 3%;
    left: 4%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 12vw 25vh;
    box-shadow: 2vmin 0 1.0980424412881415vmin currentColor;
}
.background span:nth-child(43) {
    color: #FFACAC;
    top: 91%;
    left: 7%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 2vw 10vh;
    box-shadow: 2vmin 0 1.061080332565685vmin currentColor;
}
.background span:nth-child(44) {
    color: #583C87;
    top: 89%;
    left: 94%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 11vw 7vh;
    box-shadow: 2vmin 0 1.153113223528954vmin currentColor;
}
.background span:nth-child(45) {
    color: #583C87;
    top: 44%;
    left: 90%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 5vw 2vh;
    box-shadow: 2vmin 0 0.7864622574928275vmin currentColor;
}
.background span:nth-child(46) {
    color: #583C87;
    top: 11%;
    left: 79%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 9vw -11vh;
    box-shadow: -2vmin 0 1.2278554523601375vmin currentColor;
}
.background span:nth-child(47) {
    color: #E45A84;
    top: 8%;
    left: 49%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -21vw 8vh;
    box-shadow: -2vmin 0 0.3529756871267604vmin currentColor;
}
.background span:nth-child(48) {
    color: #FFACAC;
    top: 57%;
    left: 34%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -10vw 15vh;
    box-shadow: 2vmin 0 0.4346551507486516vmin currentColor;
}
.background span:nth-child(49) {
    color: #E45A84;
    top: 60%;
    left: 85%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -6vw -12vh;
    box-shadow: -2vmin 0 0.7017449348798841vmin currentColor;
}
@media only screen and (max-width: 768px) {
    .Home{
        grid-template-columns: 1fr;
        padding: 10px;
        height: auto;
    }
    .leftHome h1{
        font-size: 2rem;
    }
    .rightHome > img{
        width: 100%;
        height: 100%;
    }
}