@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #1a202c; /* Adjust the primary color for dark mode */
    --secondary-color: #2d3748; /* Adjust the secondary color for dark mode */
    --text-color: #ffffff; /* Adjust the text color for dark mode */
  }
}

/* Light Mode */
:root {
  --primary-color: #f1f5f9; /* Adjust the primary color for light mode */
  --secondary-color: #e2e8f0; /* Adjust the secondary color for light mode */
  --text-color: #1a202c; /* Adjust the text color for light mode */
}

body {
  color: var(--text-color);
  background-color: var(--primary-color);
}
