* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #1a202c;
    /* Adjust the primary color for dark mode */
    --secondary-color: #2d3748;
    /* Adjust the secondary color for dark mode */
    --text-color: #ffffff;
    /* Adjust the text color for dark mode */
  }
}

/* Light Mode */
:root {
  --primary-color: #f1f5f9;
  /* Adjust the primary color for light mode */
  --secondary-color: #e2e8f0;
  /* Adjust the secondary color for light mode */
  --text-color: #1a202c;
  /* Adjust the text color for light mode */
}

body {
  width: 100vw;
  height: auto;
  overflow-x: hidden;
  color: var(--text-color);
  background-color: var(--primary-color);
}

a {
  text-decoration: none;
  cursor: pointer;
}

::selection{
  color: #2d3748;
  background: #4DDDE0;
}

@media only screen and (max-width: 768px) {
}

.loading-screen{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background: #FAFAFA;
  z-index: 999;
}

.spinner{
  font-size: 40px;
  widtH: 1em;
  height: 1em;
  fill: transparent;
  stroke: #101010;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-dasharray: 125;
  animation: spinner 4s linear infinite;
}

@keyframes spinner{
  0%{
    stroke-dashoffset: 25;
    transform: rotate(0deg);
  }
  50%{
    stroke-dashoffset: 125;
    transform: rotate(720deg);
  }
  100%{
    stroke-dashoffset: 25;
    transform: rotate(1080deg);
  }
}

.spinner > circle{
  fill: transparent;
}